<!DOCTYPE html>
<html>
    <head>
        <title>La verdad absoluta</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Los alumnos del A no son muy buenos en AoE II</h1>
        <h2>Los Alumnos del A son más buena que los del B</h2>
        <h3>En el grupo A van a pasar <%= numero %></h3>
    </body>
</html>